<!DOCTYPE html>
<html>
  <head>
    <title>SwappinApp</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Nunito:300|Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <script src="https://use.fontawesome.com/905ae0102d.js"></script>
    <script src="https://widget.cloudinary.com/global/all.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.cloudinaryOptions = {
        cloud_name: '<%= ENV['cloud_name'] %>',
        upload_preset: '<%= ENV['upload_preset'] %>',
        multiple: false,
        client_allowed_formats: ['png','jpg','jpeg'],
        max_file_size: 10000000, // 10MB upload limit
        theme: 'minimal'
      };

      const imgUrlPrefix = "https://res.cloudinary.com/swappinup/image/upload"

      window.thumbnail = path => {
        return `${imgUrlPrefix}/w_200,h_150,c_fill/${path}`
      }

      window.largeImg = path => {
        return `${imgUrlPrefix}/w_600,c_fill/${path}`
      }
      
      $(function() {
        if ($.fn.cloudinary_fileupload !== undefined) {
          $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
        }
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
